body {
  background-color: #E6FFE6;
}

th {
  font-size: 40px;
}
td {
  font-size: 18px;
}

#navi {
  text-align: center;
  margin-left: 25%;
}

/* nav:hover {
  font-size: 50px;
} */







.part1 {
  border: 3px solid #44FF24;
  display: inline-block;
  background-color: #44FF24;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px

}

.part1 a {
  text-decoration: none;
  color: #000000;
}


.part1:hover {
  /* font-size: 50px; */
  padding: 30px;
  background-color: #000000;
  display: inline-block;
}



.part1:hover a {
  color: #44FF24;
}



.part2 {
  border: 3px solid #44FF24;
  display: inline-block;
  background-color: #44FF24;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px
}

.part2 a {
  text-decoration: none;
  color: #000000;
}


.part2:hover {
  /* font-size: 50px; */
  padding: 30px;
  background-color: #000000;
}

.part2:hover a {
  color: #44FF24;
}




.part3 {
  border: 3px solid #44FF24;
  display: inline-block;
  background-color: #44FF24;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px
}

.part3 a {
  text-decoration: none;
  color: #000000;
}


.part3:hover {
  /* font-size: 50px; */
  padding: 30px;
  background-color: #000000;
}


.part3:hover a {
  color: #44FF24;
}




.part4 {
  border: 3px solid #44FF24;
  display: inline-block;
  background-color: #44FF24;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px
}

.part4 a {
  text-decoration: none;
  color: #000000;
}


.part4:hover {
  /* font-size: 50px; */
  padding: 30px;
  background-color: #000000;
}


.part4:hover a {
  color: #44FF24;
}



.part5 {
  border: 3px solid #44FF24;
  display: inline-block;
  background-color: #44FF24;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px
}

.part5 a {
  text-decoration: none;
  color: #000000;
}


.part5:hover {
  /* font-size: 50px; */
  padding: 30px;
  background-color: #000000;
}


.part5:hover a {
  color: #44FF24;
}



.video {
  border: 3px solid #44FF24;
  display: inline-block;
  background-color: #44FF24;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px
}

.video a {
  text-decoration: none;
  color: #000000;
}


.video:hover {
  /* font-size: 50px; */
  padding: 30px;
  background-color: #000000;
}


.video:hover a {
  color: #44FF24;
}





#parts {
  font-size: 24px;
  color: #FF0000;
}

.table {
  border: 0px;
}

#firstSection {
  background-color: #76B795;
}

#secondSection {
  background-color: #6092B1;
}

#thirdSection {
  background-color: #7AD7B6;
}

#fourthSection {
  background-color: #71AE00;
}


#tableOne {
  background-color: #666662;

}

#commands {
  color: #000000;
  text-decoration: none;
  /* font-weight: normal; */
}

li {
  color: #00FF00;
  text-decoration: underline;
  font-family: arial;
  font-weight: bold;
}

#check {
  margin-left: 20px;
}

#require {
  color: #00FF00;
  text-decoration: underline;
  font-family: arial;
  font-weight: bold;
  font-size: 40px;
  height: 70px;
  border: 0px;

}

h1 {
  background-color: #3399FF;
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 15%;
  font-size: 45px;
}

a {
  font-size: 25px;
}

th {
  background-color: #FFFF99;
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 25%;
  width: 50%;
}

#emptyCell {
  border: 0px;
}

video {
  margin-left: 22%;
}
